.page
{
	width:100%;
	height:800px;
	border-style: groove;
	
	
}
.headerpart{
	width: 100%;
	height:37%;
	border-style: groove;
	background-color: #1f3c00;
	background-image:url(img/logo.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
 
 .linkspart
 {
 	width: 100%;
 	height:2%;
 	margin-top: 1%;
 	background-color: #003614;
 	border-style: groove;
 }
 .linkspart a{

 	color:rgb(245,246,251);
 	text-decoration: none;
 	letter-spacing: 2px;
 	padding: 20px;
 	
 }

 .linkspart a:hover
 {
 	background-color: rgb(245,246,251);
 	color:#003614;
 }


.bodypart
{
	width:42%;
	height:43%;
	border-style: groove;
	margin-top: 5px;
}


.imagepart{
	width:100%;
	height:100%;
	border-style:groove;
	background-image: url(img/building.png);
	background-repeat:no-repeat;
}
